body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    text-align: center;
}

header {
    background-color: #000;
    padding: 50px 20px;
}

header h1 {
    color: #e63946;
    font-size: 42px;
}

.servicos {
    padding: 40px 20px;
}

.servicos ul {
    list-style: none;
    padding: 0;
}

.servicos li {
    font-size: 20px;
    margin: 10px 0;
}

.info {
    padding: 40px 20px;
    background-color: #1a1a1a;
}

.botao {
    display: inline-block;
    margin-top: 25px;
    padding: 15px 30px;
    background-color: #25d366;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}
@media (max-width: 600px) {

    header h1 {
        font-size: 32px;
    }

    .servicos li {
        font-size: 18px;
    }

    .botao {
        width: 80%;
        padding: 15px;
        font-size: 18px;
    }

}

